body {
    text-align: center;
    margin: 50px;
    background-color: #ff0000; /* Set background color to black */
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Bebas Neue', sans-serif;
}

p {
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
}

#fun-fact-container {
  position: absolute;
  top: 10px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  border-radius: 30px; /* Added border-radius for rounded edges */
  background-color: #212121; /* Added background color for the box */
  background: #212121;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
              -15px -15px 30px rgb(60, 60, 60);
  border-radius: 30px;
  font-family: 'Bebas Neue', sans-serif;
  width: 20%; /* Adjusted the width to be roughly 1/3 of the container */
  margin-left: 975px;
  opacity: 0; /* Set initial opacity to 0 */
  animation: fadeInOut 10s infinite; /* Added animation for fade-in and fade-out */
}

@keyframes fadeInOut {
  0%, 100% {
      opacity: 0; /* Start and end with opacity 0 for fade-in effect */
  }
  50% {
      opacity: 1; /* Middle of the animation with opacity 1 for fade-out effect */
  }
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Bebas Neue', sans-serif;
}

/* Style the dropdown label and select */
.dropdown label, .dropdown select {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%; /* Match the width of the button */
    top: 40px; /* Adjust the top spacing */
    font-family: 'Bebas Neue', sans-serif;
    top: 28px; /* Adjust the top spacing */
}

/* Style the dropdown options */
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    font-family: 'Bebas Neue', sans-serif;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
    font-family: 'Bebas Neue', sans-serif;
}

/* Style for home button */
.home-button {
    position: fixed; /* Fixed position */
    top: 10px; /* 10px from the top */
    left: 15px; /* 10px from the left */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff; /* Set background color to white */
    color: #000000; /* Set text color to black */
    text-decoration: none;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
    border-radius: 30px;
    font-family: 'Bebas Neue', sans-serif;
}

/* Hover effect for home button */
.home-button:hover {
    background-color: #e1dada; /* Light gray on hover */
}

/*Time-Widget*/
.time-widget {
    position: fixed;
    bottom: 60px;
    left: 450px;
    background-color: #00008B; /* Dark blue color */
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    width: 25%; /* Cover less than 1/4th of the page */
    height: 25%;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
    border-radius: 30px;
    font-family: 'Bebas Neue', sans-serif;
}

/* Style for the time information */
.time-widget h2 {
    margin-top: 0; /* Remove default margin for h2 */
    margin-bottom: 5px; /* Adjust margin as needed */
    font-size: 35px; /* Increase font size for headings */
}

/* Style for the time paragraph */
.time-widget p {
    margin-top: 0; /* Remove default margin for p */
    margin-bottom: 10px; /* Adjust margin as needed */
    font-size: 20px; /* Increase font size for paragraphs */
    font-family: 'Bebas Neue', sans-serif;
}

/* Weather widget styling */
.weather-widget {
    position: fixed;
    bottom: 60px;
    left: 50px;
    background-color: #212121;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    width: 25%; /* Cover less than 1/4th of the page */
    height: 25%;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
    border-radius: 30px;
    font-family: 'Bebas Neue', sans-serif;
}

/* Style for the weather information */
.weather-info {
    max-height: 100%; /* Allow the content to take full height if needed */
    overflow: hidden; /* Hide overflow to prevent scrolling */
    font-family: 'Bebas Neue', sans-serif;
}

/* Style for headings */
.weather-info h2 {
    margin-top: 0; /* Remove default margin for h2 */
    margin-bottom: 5px; /* Adjust margin as needed */
    font-size: 30px; /* Increase font size for headings */
    font-family: 'Bebas Neue', sans-serif;
}

/* Style for paragraphs */
.weather-info p {
    margin-top: 0px; /* Remove default margin for p */
    margin-bottom: 50px; /* Adjust margin as needed */
    font-size: 20px; /* Increase font size for paragraphs */
    font-family: 'Bebas Neue', sans-serif;
}

/* Add this style to adjust the position of the planet title */
.planet-title {
    position: absolute;
    top: -8px;
    left: 100px;/* Adjust the margin-top value as needed */
    color:  #ffffff;
    text-align: left;
    font-family: 'Bebas Neue', sans-serif;
}

/* Add this style to add space between weather and temperature */
.weather-widget p {
    margin-bottom: 20px; /* Adjust the margin as needed */
    font-family: 'Bebas Neue', sans-serif;
}

/* Add any additional styles as needed */

body {
    font-family: "Bebas Neue", "sans-serif";
    text-align: center;
    margin: 50px;
    background-color: #000;
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
    
}


/* Add widgets for other planets as needed */
.cardContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .comparision{
    position: relative;
    width: 25%;
    height: 25%;
    display: flex;
    padding: 20px 10px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
    border-radius: 30px;
    bottom: 60px;
  }
  .card {
    position: fixed;
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
    border-radius: 30px;
    bottom: 60px;
    left: 50px;
}
   .card2{
    width: 400px;
    height: 610px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
    border-radius: 30px;
    position: fixed;
    left: 890px;
    top: 130px;

   }

  .card2 h1{
    color:#ffffff;
    size: 50px;
    padding: 10px 20px;
  }

  .card2 li{
    size:10px;
    margin-bottom: 60px;
    text-align:  center;
    padding: 0px 30px;
    font-size: 20px;
  }
  
  .image{
    position: absolute;
    left: 20px;
    top: 80px
  }
  .city {
    font-weight: 700;
    font-size: 1.3em;
    letter-spacing: 1.2px;
    color: white;
    position: absolute;
    top: 20px;
    left:60px;
  }
  
  .weather {
    position: absolute;
    top: 20px;
    left: 210px;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 1.2px;
    color: rgb(197, 197, 197);
  }
  
  .temp {
    position: absolute;
    top: 20px;
    left: 235px;
    font-size: 4em;
    color: white;
  }
  
  .minmaxContainer {
    position: absolute;
    top: 165px;
    left: 85px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .min,
  .max {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content:end;
    padding: 0px 10px;
    gap: 1px;
  }
  
  .max {
    align-items: flex-start;
    border-left: 2px solid white;
  }
  
  .maxHeading,
  .minHeading {
    font-size: 0.7em;
    font-weight: 600;
    color: white;
  }
  
  .maxTemp,
  .minTemp {
    font-size: 0.6em;
    font-weight: 500;
    color: rgb(197, 197, 197);
  }
  
  .containerx { 
    position: fixed;
    align-items: center;
    left: 510px;
    bottom: 080px;

} 
  
h1 { 
    color: rgb(0, 0, 0); 
    text-align: center; 
} 
  
.digit { 
    font-size: 60px; 
    color: #ffffff; 
} 
  
.txt { 
    font-size: 15px; 
    color: #ffffff; 
} 
  
#buttons { 
    margin-top: 20px; 
} 
  
.btn { 
    width: 70px; 
    bottom: 100px;
    padding: 4px 20px; 
    margin: 0px 5px; 
    border-radius: 30px;
    cursor: pointer; 
    font-size: 15px; 
    transition: 0.5s; 
    color: #212121; 
    font-weight: 500;
    font-family: 'Bebas Neue', sans-serif;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
} 
  
#start { 
    background-color: #ffffff; 
    color: #000;
} 
  
#stop { 
    background-color: #ffffff; 
    color: #000;
} 
  
#reset { 
    background-color: #ffffff; 
    color: #000;
}